<% crt_map %>
<html>
   <head>
      <title>Test</title>
      <%= GMap.header %>
      <%= @map.to_html %>
   </head>
   <body>
      <%= @map.div(:width => 400, :height => 300) %>
      <!-- <%= @map.div(:width => 400, :height => 300) %> -->
   </body>
</html>